* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    margin: 0;
}


body {
    background-color: rgb(68, 101, 209);
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-link {
display: block;
width: 100%;
height: 40px;
text-align: center;
padding-top: 1em;
transition: background-color 0.5s ;
}

.nav-link:hover {
    background-color: dodgerblue;
}

ul li.nav-link {
list-style-type: none;
} 

main {
    max-width: 80%;
    padding-top: 50px;
    margin: auto;

}

.oferta {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 200px;
    margin: 20px;
}

.obraz {
    max-width: 30%;
    background: url("http://placekitten.com./400/200");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.obraz img {
    max-width: 100%;
}

.info {
    width: 70%;
    margin-left: 20px;
}